.toolbar {
    display: flex;
    justify-content: space-between;
}

.user-details{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    font-weight: 800;
}
