.app-container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cfe8fc;
    height: 500px;

    .app {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
